.select {
  .select__overlay {
    position: absolute;
    background-color: rgba(#000, .2);
  }

  .select__container {
    position: relative;
  }

  .select__selected {
    padding: 5px 20px;
    border: 1px solid #eee;
  }

  .select__items {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border: 1px solid #bbb;
    background-color: #bbb;
    transform: translateY(-50%);
  }

  .select__item {
    display: none;
    align-items: center;
    justify-content: center;
    height: 30px;

    &--active,
    &--active-sibling {
      display: flex;
    }

    &--active {
      background-color: aqua;
    }
  }

  .select__arrow {
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    height: 30px;
    background-color: #d56c2c;
    color: #fff;

    &--up {
      top: -30px;
    }

    &--down {
      bottom: -30px;
    }

  }
}
